/* Button.css */
.custom-button {
    background-color: #D3C3A3; 
    border: none;
    color: black;
    padding: 0.5rem 0.5rem;
    margin: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    border: 1px solid #bbada0;
    width: 100%;
  }
  
  .custom-button:hover {
    background-color: #E2CDBA;
  }
  