/* Button.css */
.custom-button {
    background-color: #D3C3A3; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .custom-button:hover {
    background-color: #E2CDBA;
  }
  