.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    background-color: #cdc1b4;
    color: #776e65;
    font-weight: bold;
    font-size: 2em;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .new-cell {
    animation: pop-in 0.5s cubic-bezier(0, 0.5, 0.5, 1.5) forwards;
  }
  

  @keyframes pop-in {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  