/* Style for grid cells */
.cell {
  /* Flex used for centering the content of the cell both horizontally and vertically */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Cell appearance properties */
  background-color: #cdc1b4;
  color: #776e65;
  font-weight: bold;
  font-size: calc(4 * var(--vmin));
  border-radius: 4px;
  overflow: hidden;  /* Ensures content stays within the cell */

  div {
    transform: translateY(-25%);
  }

  ::before {
    content: '';
    display: block;
    padding-top: 100%;  /* Equal to width to maintain a square shape */
  }
}

/* Style for newly created cells, includes an animation for "pop-in" effect */
.new-cell {
  animation: pop-in 0.5s cubic-bezier(0, 0.5, 0.5, 1.5) forwards;
}

/* Keyframes for pop-in animation. Scales the cell from 0 to its original size */
@keyframes pop-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
