.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 50vw;
  max-width: 500px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #bbada0;
  border-radius: 10px;
  margin: 0 auto;
}


