.game-over-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(238, 228, 218, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  
  .game-over-message {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .new-game-button {
    background-color: #bbada0;
    border: 1px solid #bbada0;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }